<header>
    <nav class="header-nav">
        <a class="header-title" href="/">ATN warehouse</a>
        <ul>
            <% if (isAuthenticated) { %>
                <div class="btn-row">
                <li><a href="/products">All Products</a></li>
                <li><a href="/products/new">Add Product</a></li>
                <form action="/logout?_method=DELETE" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
                </div>
            <% } else { %>
                <div class="btn-row">
                    <li><a class="btn btn-primary" href="/login">Login</a></li>
                    <li><a class="btn btn-primary" href="/register">Register</a></li>
                </div>
            <% } %> 
        </ul>
    </nav>
</header>