:root {
    --product-cover-width: 200px;
    --product-cover-width-large: 325px;
    --product-cover-aspect-ration: 0.75;
}

.product-cover {
    width: var(--product-cover-width);
    height: calc(var(--product-cover-width) / var(--product-cover-aspect-ration));
}

.product-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--product-cover-width));
}

.product-cover-large {
    width: var(--product-cover-width-large);
    height: calc(var(--product-cover-width-large) / var(--product-cover-aspect-ration));
}